.spinner:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin-left: -40px;
    margin-top: -40px;
    border-radius: 50%;
    border-top: solid 2px coral;
    border-right: solid 2px transparent;
    animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}