@mixin container {
  @include flexCenter(center);
  width: 100%;
  z-index: 99;
}

@mixin flexCenter($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin scrollButtonContainer($height, $width) {
  @include flexCenter(space-between);
  position: absolute;
  max-width: $width;
  margin-top: 6px;
  height: $height;
  button {
    height: 100%;
    margin: 0;
    width: 50px;
    border: none;
  }
}